import(methods)
importFrom(utils, capture.output)
import(digest)

importFrom(BiocGenerics, updateObject)
importFrom(S4Vectors, wmsg, isTRUEorFALSE, isSingleString)

export(
    ## updateSerializedObjects.R:
    updateSerializedObjects,
    collect_rds_files,
    collect_rda_files,
    update_rds_file,
    update_rda_file,

    ## bump_pkg_version.R:
    bump_pkg_version,

    ## git-utils.R:
    prepare_git_repo_for_work,
    set_git_user_name, unset_git_user_name,
    set_git_user_email, unset_git_user_email,
    git_commit,

    ## updatePackageObjects.R:
    updatePackageObjects,
    updateAllPackageObjects,

    ## updateBiocPackageRepoObjects.R:
    updateBiocPackageRepoObjects,
    updateAllBiocPackageRepoObjects
)

