import(methods)
importFrom(utils, capture.output)
import(digest)

importFrom(BiocGenerics, updateObject)
importFrom(S4Vectors, wmsg, isTRUEorFALSE, isSingleString)

export(
    bump_pkg_version,
    prepare_git_repo_for_work,
    commit_changes,
    collect_rds_files,
    collect_rda_files,
    update_rds_file,
    update_rda_file,
    updatePackageObjects,
    updateAllPackageObjects,
    updateBiocPackageRepoObjects,
    updateAllBiocPackageRepoObjects
)

